<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pokédex</title>
        <link rel="stylesheet" href="/style.css">
      </head>
      
      <body>
        <h1>Welcome to the Pokédex</h1>
        <div class="pokemon-list">
          <% pokemonData.forEach((pokemon) => { %>
          <div class="pokemon-item">
            <a href="/pokemon/<%= pokemon.id %>">
              <img src="<%= pokemon.img %>" alt="<%= pokemon.name %>">
            </a>
            <p><%= pokemon.name %></p>
          </div>
          <% }); %>
        </div>
      </body>
      
      </html>