<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Pokédex</h1>
    <form action="/pokemon/new" method="GET">
        <button type="submit" class="add-pokemon-button">Add New Pokémon</button>
      </form>
      
    <ul class="pokemon-list">
        <% pokemonData.forEach(pokemon => { %>
            <li>
                <a href="/pokemon/<%= pokemon.id %>">
                    <img src="<%= pokemon.img %>" alt="<%= pokemon.name %>">
                    <h3><%= pokemon.name %></h3>
                </a>
            </li>
        <% }) %>
    </ul>
</body>
</html>
